@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
/* Header section */
.header-items {
  width: 90%;
  margin: 0 auto;
  padding: 35px 0;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 599px) {
  .header-items {
    justify-content: space-between;
  }
}

.burger-menu i {
  display: none;
}

@media (max-width: 599px) {
  .burger-menu i {
    display: block;
  }
  .burger-menu i:hover .ul-items li {
    display: block;
    position: absolute;
  }
}

.header-items__logo p {
  background-color: #222222;
  color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 599px) {
  .header-items__logo p {
    font-size: 25px;
  }
}

.header-items__ul {
  display: flex;
}

.header-items__ul ul {
  display: flex;
  align-items: center;
}

.header-items__ul ul li {
  padding: 0 30px;
  color: #303030;
  transition: all 1s ease-out;
}

.header-items__ul ul li:hover {
  background-color: green;
  transform: skew(-45deg) translate(20px);
}

@media (max-width: 599px) {
  .header-items__ul ul {
    display: none;
  }
}

.new-class {
  width: 400px;
  height: 400px;
}

input {
  cursor: text;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
}
