@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import "../scss/varriables.scss";
@import "../scss/medias.scss";
/*Header section*/
.header-items {
    width: 90%;
    margin: 0 auto;
    padding: 35px 0;
    border-bottom: 1px solid $sectionBorderColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-items__logo {
    p {
        background-color: #222222;
        color: #f0f0f0;
        padding: 10px;
        cursor: pointer;
    }
}

.header-items__ul {
    display: flex;
    ul {
        display: flex;
        align-items: center;
        li {
            padding: 0 30px;
            color: $headerAndFooterUlColor;
        }
    }
}

.header-interface {
    form {
        display: flex;
        align-items: center;
        .search-text {
            border: 1px solid black;
            margin-left: 45px;
            padding: 10px 25px;
            cursor: text;
        }
        span {
            color: orange;
            padding-left: 3px;
        }
    }
    input {
        border: none;
        background-color: white;
    }
    i {
        padding-right: 10px;
        padding-left: 45px;
        font-size: 18px;
    }
    .fa-search {
        background-color: $paragraphColor;
        padding: 11px 9px;
    }
}

/* Main section */

/* Section categories-all-steps */

.categories-all-steps {
    width: 90%;
    margin: 0 auto;
    display: flex;
    p {
        padding: 30px 5px 65px 5px;
        font-size: 13px;
        color: $paragraphColor;
        cursor: pointer;
    }
}

/* Section headline-content */

.headline-wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    h1 {
        font-size: $subHeadingSize;
        color: $headingsColor;
    }
    form {
        .show-more {
            color: $paragraphColor;
            text-decoration: underline;
            font-size: $subHeadingParagraphSize;
            padding-right: 7px;
            cursor: pointer;
        }
        #show-more {
            display: none;
        }
    }
}
.fa-caret-right {
    color: $paragraphColor;
}

/* Section coats-gallery */

.coats-gallery {
    width: 90%;
    margin: 0 auto;
    padding-top: 65px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    @include for-phone-only{
        grid-template-columns: repeat(2, 150px);
        justify-content: center;
        grid-gap: 80px 50px;
    }
    article {
        p:first-of-type {
            color: $headerAndFooterUlColor;
            font-weight: bold;
            padding-top: 35px;
            padding-bottom: 10px;
            padding-left: 38px;
            @include for-phone-only{
                padding-left: 0;
                text-align: center;
            }
        }
        p:last-of-type {
            color: $headerAndFooterUlColor;
            padding-left: 78px;
            @include for-phone-only{
                padding-left: 0;
                text-align: center;
            }
        }
        div {
            border: 1px solid #e5e5e5;
            width: 208px;
            height: 255px;
            background-image: url(https://picsum.photos/208/255);
            @include for-phone-only{
                width: 150px;
                height: 150px;
            }
        }
    }
}

/* Section outwear-gallery */

.outwear-content {
    width: 90%;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
    h1 {
        font-size: $subHeadingSize;
        color: $headingsColor;
        font-weight: lighter;
    }
    form {
        .show-more {
            color: $paragraphColor;
            text-decoration: underline;
            font-size: $subHeadingParagraphSize;
            padding-right: 7px;
            cursor: pointer;
        }
        #show-more {
            display: none;
        }
    }
}

.fa-caret-right {
    color: $paragraphColor;
}
/* Section outwear-gallery */

.outwear-gallery {
    width: 90%;
    margin: 0 auto;
    padding-top: 65px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    @include for-phone-only{
        grid-template-columns: repeat(2, 150px);
        justify-content: center;
        grid-gap: 80px 50px;
    }
    article {
        p:first-of-type {
            color: $headingsColor;
            font-weight: bold;
            padding-top: 35px;
            padding-bottom: 10px;
            padding-left: 38px;
            @include for-phone-only{
                padding-left: 0;
                text-align: center;
            }
        }
        p:last-of-type {
            color: $headingsColor;
            padding-left: 78px;
            @include for-phone-only{
                padding-left: 0;
                text-align: center;
            }
        }
        div {
            border: 1px solid #e5e5e5;
            width: 208px;
            height: 255px;
            background-image: url(https://picsum.photos/208/255);
            @include for-phone-only{
                width: 150px;
                height: 150px;
            }
        }
    }
}

/* Section t-shirts-content */
.t-shirts-content {
    width: 90%;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
    h1 {
        font-size: $subHeadingSize;
        color: $headingsColor;
        font-weight: lighter;
    }
    form {
        .show-more {
            color: $paragraphColor;
            text-decoration: underline;
            font-size: $subHeadingParagraphSize;
            padding-right: 7px;
            cursor: pointer;
        }
        #show-more {
            display: none;
        }
    }
}

/* Section t-shirts-content */

.t-shirts-gallery {
    width: 90%;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 110px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    border-bottom: 1px solid $sectionBorderColor;
    justify-items: center;
    @include for-phone-only{
        grid-template-columns: repeat(2, 150px);
        justify-content: center;
        grid-gap: 80px 50px;
    }
    article {
        p:first-of-type {
            color: $headingsColor;
            font-weight: bold;
            padding-top: 35px;
            padding-bottom: 10px;
            padding-left: 38px;
            @include for-phone-only{
                padding-left: 0;
                text-align: center;
            }
        }
        p:last-of-type {
            color: $headingsColor;
            padding-left: 78px;
            @include for-phone-only{
                padding-left: 0;
                text-align: center;
            }
        }
        div {
            border: 1px solid #e5e5e5;
            width: 208px;
            height: 255px;
            background-image: url(https://picsum.photos/208/255);
            @include for-phone-only{
                width: 150px;
                height: 150px;
            }
        }
    }
}

/* Section lookbook */

.lookbook {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: $paragraphColor;
    padding: 45px 0;
}

/* Section slide-section */

.slide-section {
    width: 90%;
    margin: 0 auto;
}

.slide-section__content {
    margin: 0 auto;
    background-color: #bbbbbb;
    height: 118px;
    &::before {
        content: url(../images/main-page-images/left-arrow-pic.png);
        cursor: pointer;
    }
    &::after {
        content: url(../images/main-page-images/right-arrow-pic.png);
        cursor: pointer;
        position: absolute;
        right: 76px;
        @include for-phone-only{
            right: 28px;
        }

    }
}

/* Footer section */

.footer-uls {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include for-phone-only {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 200px;
    }
    article {
        padding-left: 20px;
        &:last-child {
            border-right: none;
        }
    }
}

.collection-ul {
    border-right: 1px solid $sectionBorderColor;
    ul {
        span {
            text-decoration: underline;
        }
        li {
            color: $headerAndFooterUlColor;
            padding: 4px 0;
            &:first-child {
                padding: 7px 0;
                color: $headerAndFooterUlColor;
                font-weight: bold;
            }
        }
    }
}

.site-ul {
    border-right: 1px solid $sectionBorderColor;
    @include for-phone-only {
        border-right: none;
    }
    ul {
        li {
            color: $headerAndFooterUlColor;
            padding: 4px 0;
            &:first-child {
                padding: 7px 0;
                color: $headerAndFooterUlColor;
                font-weight: bold;
            }
        }
    }
}

.shop-ul {
    border-right: 1px solid $sectionBorderColor;
    ul {
        li {
            padding: 4px 0;
            color: $headerAndFooterUlColor;
            &:first-child {
                padding: 7px 0;
                color: $headerAndFooterUlColor;
                font-weight: bold;
            }
        }
    }
}

.social-content {
    ul {
        display: flex;
        align-items: center;
        margin-top: 15px;
        li {
            color: $headerAndFooterUlColor;
            padding: 5px 10px;
            margin: 8px;
            border: 1px solid black;
        }
    }
    p {
        color: $headerAndFooterUlColor;
        line-height: 25px;
        &:first-child {
            color: $headerAndFooterUlColor;
            font-weight: bold;
        }
    }
}
