// Colors
$sectionBorderColor: #e5e5e5;
$headerAndFooterUlColor: #303030;
$paragraphColor: #606060;
$headingsColor: #303030;
// Text sizing

$subHeadingSize: 36px;
$subHeadingParagraphSize: 18px;
$labelTextSize: 12px;
